h1 {
  color: rgb(238, 150, 57);
  text-align: center;
  margin: 0 0 40px 0;
  vertical-align: middle;
}
a.top, a:link.top, a:visited.top, a:hover.top, a:active.top{
  color: rgb(238, 150, 57);
  text-decoration: none;
}
