<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= link_to admin_index_path, :class => 'top' do %>
  <%= image_tag 'image.png' , :width => '250', :height => '100'%>
<% end %>
<table class="table table-striped">
  <tr>
    <td><%= link_to '一覧', admin_list_path %></td>
  </tr>
  <tr>
    <td><%= link_to '申請', admin_entries_path %></td>
  </tr>
</table>
