<table class="table table-striped">
  <tr>
    <td><%= link_to '一覧', admin_list_path %></td>
  </tr>
  <tr>
    <td><%= link_to '申請', admin_entries_path %></td>
  </tr>
  <tr>
    <td><%= link_to '要望', admin_reqest_path %></td>
  </tr>
</table>
