<tr>
  <th>お気に入り一覧</th>
  <th></th>
</tr>
<% @lists.each do |key, val| %>
<tr>
  <td>
    <%= link_to project_path(key) do %>
      <%= val %>
    <% end %>
  </td>
  <td>
    <%= button_to "お気に入り解除", {:action => "fav_remove", :data => key}, :remote => true, :onclick => "disable()", :class => "btn btn-danger favorite_action" %>
  </td>
</tr>
<% end %>
