<div id="word" class="fadein">
  <label for="detail"><%= @project.id %>: <%= @project.name %></label>
  <input type="checkbox" id="detail" class="on-off" />
  <div id="content" class="detail_content">
    <%= @project.about %>
  </div>
</div>
