<h1>お気に入り</h1>
<table class="table table-striped">
  <tr>
    <th>お気に入り一覧</th>
  </tr>
  <tr>
    <% @lists.each do |item| %>
    <td>
      <%= link_to detail_path(item) do %>
        <%= item %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
