

<header>
  <div class="title">
  <p>筑波大学用語辞典</p>
</div>
</header>
<%= image_tag 'image.png' , :width => '250', :height => '100'%>

<h1><%= link_to index_path, :class => 'top' do %>
      新規登録
    <% end %></h1>
<%= render 'form' %>

<%= stylesheet_link_tag "new", :media => "all" %>
