default: &default
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  socket: /var/run/mysqld/mysqld.sock

development:
  <<: *default
  database: 
  username: 
  password: 

test:
  <<: *default
  database: 
  username: 
  password: 

production:
  <<: *default
  database: 
  username: 
  password: 
