header{
  text-align: center;
  margin-top: 5%;
}

#word_area{
  height:250px;
}

#word{
  font-size: 3em;
  background-color: #FBD591;
  margin: 20px auto;
}

#word :hover{
  background-color: #F6E6C9;
}

#word a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #381D2A;
  text-decoration: none;
}

.center{
  text-align: center;
}

.fadein {
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadeout {
  animation: fadeout 2s;
  -webkit-animation: fadeout 2s;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.form {
  width: 80%;
}
.fav-list {
  text-align: center;
  margin-top: 5%;
}
